@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordConfirmation</title>
</head>
<body>
 
    <div class="row">
        <div class="alert alert-success">
            <strong> Please check your email to reset your password.</strong> 
        </div>
    </div>
</body>
</html>


